/* link to pasted CSS https://codepen.io/afarrar/pen/JRaEjP 
slight edits made. */
canvas {
    position: relative;
    background: rgb(82, 9, 9);
}

.clock {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #bb718e;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    text-align: center;
   


}
